<div style="text-align: center;">
  <h1>To stay or not to stay — that is the question!</h1>
</div>

## Dataset

In [10]:
import numpy as np
import pandas as pd

In [11]:
# TODO: read csv file in df
df = pd.read_csv('../data/migration_rate.csv')
df

                Country  1990  1995  2000  2005  2010  2015  2020
0         United States   2.7   3.5   6.5   3.7   3.6   3.2   2.9
1                 India   0.0   NaN  -0.1  -0.3  -0.4  -0.4  -0.4
2    Russian Federation   1.2   3.4   3.2   2.5   3.2   2.5   1.3
3               Germany   4.3   6.6   1.8   NaN   0.1   4.8   6.6
4               Algeria  -0.8  -0.9  -1.1  -1.3   NaN  -0.8  -0.2
..                  ...   ...   ...   ...   ...   ...   ...   ...
186                Mali -12.1  -3.8  -2.8  -1.1  -1.4  -3.7  -2.1
187          Costa Rica   1.2   4.2   4.8   2.0   1.4   0.8   0.8
188              Norway   1.8   2.2   2.7   3.0   6.9   8.8   5.3
189          Tajikistan  -1.3   NaN  -7.9  -4.5  -4.1  -3.4  -2.2
190              Angola   3.5   2.2   2.6   2.9   3.3   1.3   0.2

[191 rows x 8 columns]


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
</font>
</p>

## Part One: Preprocessing

### Step One of Preprocessing

In [12]:
# TODO: drop some rows
df.dropna(thresh=2, inplace=True)
df

                Country  1990  1995  2000  2005  2010  2015  2020
0         United States   2.7   3.5   6.5   3.7   3.6   3.2   2.9
1                 India   0.0   NaN  -0.1  -0.3  -0.4  -0.4  -0.4
2    Russian Federation   1.2   3.4   3.2   2.5   3.2   2.5   1.3
3               Germany   4.3   6.6   1.8   NaN   0.1   4.8   6.6
4               Algeria  -0.8  -0.9  -1.1  -1.3   NaN  -0.8  -0.2
..                  ...   ...   ...   ...   ...   ...   ...   ...
186                Mali -12.1  -3.8  -2.8  -1.1  -1.4  -3.7  -2.1
187          Costa Rica   1.2   4.2   4.8   2.0   1.4   0.8   0.8
188              Norway   1.8   2.2   2.7   3.0   6.9   8.8   5.3
189          Tajikistan  -1.3   NaN  -7.9  -4.5  -4.1  -3.4  -2.2
190              Angola   3.5   2.2   2.6   2.9   3.3   1.3   0.2

[185 rows x 8 columns]

### Preprocessing Step 2

In [13]:
# TODO: fill null values of rows
df = df.T.fillna(df.mean(axis=1,numeric_only=True)).T
df

                Country  1990      1995 2000      2005  2010 2015 2020
0         United States   2.7       3.5  6.5       3.7   3.6  3.2  2.9
1                 India   0.0 -0.266667 -0.1      -0.3  -0.4 -0.4 -0.4
2    Russian Federation   1.2       3.4  3.2       2.5   3.2  2.5  1.3
3               Germany   4.3       6.6  1.8  4.033333   0.1  4.8  6.6
4               Algeria  -0.8      -0.9 -1.1      -1.3 -0.85 -0.8 -0.2
..                  ...   ...       ...  ...       ...   ...  ...  ...
186                Mali -12.1      -3.8 -2.8      -1.1  -1.4 -3.7 -2.1
187          Costa Rica   1.2       4.2  4.8       2.0   1.4  0.8  0.8
188              Norway   1.8       2.2  2.7       3.0   6.9  8.8  5.3
189          Tajikistan  -1.3      -3.9 -7.9      -4.5  -4.1 -3.4 -2.2
190              Angola   3.5       2.2  2.6       2.9   3.3  1.3  0.2

[185 rows x 8 columns]

<div dir=rtl id="start" style="direction:rtl;text-align: justify;line-height:200%;">
	<font face="vazir" size=3>
        بعد از اتمام هر دو مرحله‌ی پیش‌پردازش، تعداد مقادیر گم‌شده همه‌ی ستون‌ها باید 0 باشد.
    </font>
</div>

In [14]:
df.isna().sum()

Country    0
1990       0
1995       0
2000       0
2005       0
2010       0
2015       0
2020       0
dtype: int64

## Part Two: Analysis

### Question 1

In [15]:
# TODO: find the top 3 countries
indices = (df['2020'].sort_values()[-3:].index).tolist()
top_countries = df.loc[indices]['Country'].tolist() [::-1]
print(top_countries)

['Bahrain', 'Maldives', 'Oman']

### Question 2

In [16]:
# TODO: find iran_mean
iran_mean = df[df['Country'] == "Iran (Islamic Republic of)"].drop(columns=['Country']).astype(np.float64).mean(axis=1).item()
print(iran_mean)

-0.22857142857142865

### Question 3

In [17]:
# TODO: find highest_growth
highest_growth = df.loc[(df['2020'] - df['1990']).sort_values()[-1:].index]['Country'].item()
print(highest_growth)

Liberia