## Better Chocolates

## Dataset

In [33]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/chocolate_price.csv')
df.head()

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,A. Morin,Agua Grande,2016,63.0,France,75.0,Blend,Sao Tome,118125.0
1,A. Morin,Kpime,2015,70.0,France,55.0,Blend,Togo,96250.0
2,A. Morin,Atsane,2015,70.0,France,60.0,Blend,Togo,105000.0
3,A. Morin,Akata,2015,70.0,France,70.0,Blend,Togo,122500.0
4,A. Morin,Quilla,2015,70.0,France,70.0,Blend,Peru,122500.0

## Part One

In [34]:
df = df[df['Cocoa Percent'] <= 70]
df.reset_index(inplace=True, drop=True)

In [35]:
df.head()

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,A. Morin,Agua Grande,2016,63.0,France,75.0,Blend,Sao Tome,118125.0
1,A. Morin,Kpime,2015,70.0,France,55.0,Blend,Togo,96250.0
2,A. Morin,Atsane,2015,70.0,France,60.0,Blend,Togo,105000.0
3,A. Morin,Akata,2015,70.0,France,70.0,Blend,Togo,122500.0
4,A. Morin,Quilla,2015,70.0,France,70.0,Blend,Peru,122500.0

## Part two

In [36]:
companies = df.groupby(['Company', 'Review Date'])['Rating'].agg('mean').unstack()

‚ö†Ô∏è The following lines are used to standardize the format of the table.
Do not modify them ‚Äî just run the cell below.

In [37]:
companies.columns.name = None
companies.index.name = None

## Part Three

In [38]:
mean_ratings = companies.loc[:, "2012":].apply(lambda row: row.mean(), axis=1)
mean_ratings

A. Morin                  69.522727
AMMA                            NaN
Acalli                    75.000000
Adi                             NaN
Aequare (Gianduja)              NaN
                            ...
Zokoko                    65.000000
Zotter                    69.285714
hello cocoa               55.000000
hexx                      60.000000
twenty-four blackbirds    65.000000
Length: 313, dtype: float64

Using the average rating of each company (`mean_ratings`), find the top 10 companies with the highest ratings and store them in the variable `best_ratings`.
Note that your output should be a **Pandas Series** (`pd.Series`).

üí¨ **Note:**
In cases where companies have equal average ratings, they should be ranked alphabetically.
For example, if companies `A` and `B` both have an average rating of `75.00`, company `A` should be given priority.

In [39]:
best_ratings = mean_ratings.reset_index().sort_values([0, 'index'], ascending=[False, True]).set_index("index").iloc[:10][0]
best_ratings.name = None
best_ratings.index.name = None
best_ratings

Patric                     80.000000
Tobago Estate (Pralus)     80.000000
Willie's Cacao             80.000000
L.A. Burdick (Felchlin)    77.500000
Matale                     77.500000
Pacari                     77.500000
Valrhona                   76.666667
Acalli                     75.000000
Amedei                     75.000000
Askinosie                  75.000000
dtype: float64

## Part Four

In [40]:
chocolates_to_sell = df[df.Company.isin(best_ratings.index)].reset_index(drop=True)
chocolates_to_sell.head()

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,Acalli,"Chulucanas, El Platanal",2015,70.0,U.S.A.,75.0,Blend,Peru,131250.0
1,Acalli,"Tumbes, Norandino",2015,70.0,U.S.A.,75.0,Criollo,Peru,131250.0
2,Amedei,"Piura, Blanco de Criollo",2012,70.0,Italy,75.0,Blend,Peru,131250.0
3,Amedei,Porcelana,2007,70.0,Italy,80.0,Criollo (Porcelana),Venezuela,140000.0
4,Amedei,Chuao,2007,70.0,Italy,100.0,Trinitario,Venezuela,175000.0

## Part Five

In [41]:
priceSum = chocolates_to_sell['price(100g)'].sum()