<h1 style="text-align: center; line-height: 200%; font-family: Arial, sans-serif; color: #0099cc;">
  Book Lovers Community
</h1>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  In this exercise, to support the book-loving community, we aim to analyze data from the <i>Goodreads</i> website and extract interesting and useful insights from it.
</p>
<p style="text-align: center;">
<img src="data/img_book_lovers_community.png" style="max-width: 100%; height: auto;">
</p>

<h2 style="text-align: left; line-height: 200%; font-family: Arial, sans-serif; color: #0099cc;">
  Dataset
</h2>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  The book information is stored in the file <code>books_db.csv</code>, authors in the file <code>authors.csv</code>, publishers in the file <code>publisher.csv</code>, and languages in the file <code>language.csv</code>. Using Pandas, read each of these files and store them in their corresponding variables.
</p>

In [ ]:
import pandas as pd
import numpy as np

df = None # To-Do: books_db.csv
authors = None # To-Do: authors.csv
language = None # To-Do: language.csv
publisher = None # To-Do: publisher.csv

df.head()

<h2 style="text-align: left; line-height: 200%; font-family: Arial, sans-serif; color: #0099cc;">
  Part One
</h2>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  As you can see, in the main dataset (books), the values in the three columns <code>lang_id</code>, <code>author_id</code>, and <code>publisher_id</code> are stored only as IDs (<code>id</code>). These IDs correspond to the index numbers in the other dataframes. In this part, we aim to extract their complete information from the respective dataframes and add it to the <code>df</code> dataframe. Therefore, merge the three dataframes <code>authors</code>, <code>language</code>, and <code>publisher</code> with the <code>df</code> dataframe in an appropriate manner using <code>merge</code>.
</p>

<h4 style="font-family: Arial, sans-serif;">
  <span style="color: green;">Hint</span>: How do I merge the data in Part One?
</h4>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  In this part, use <code>merge</code> with the arguments <code>left_on</code> and <code>right_index</code>.
</p>

In [20]:
# To-Do: about 3 lines of code

df.head()

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  Now that all the values have been added, we no longer need the three <code>id</code> columns used as keys. Therefore, we will remove them using the <code>drop</code> command.
</p>

In [4]:
df.drop(columns = ['author_id', 'lang_id', 'publisher_id'], inplace = True)

<h2 style="text-align: left; line-height: 200%; font-family: Arial, sans-serif; color: #0099cc;">
  Part Two
</h2>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  Now, rename the columns of the dataframe so that they are, from left to right, as follows:
  <ul>
    <li><code>bookID</code></li>
    <li><code>title</code></li>
    <li><code>average_rating</code></li>
    <li><code>isbn</code></li>
    <li><code>isbn13</code></li>
    <li><code>num_pages</code></li>
    <li><code>ratings_count</code></li>
    <li><code>text_reviews_count</code></li>
    <li><code>publication_date</code></li>
    <li><code>author</code></li>
    <li><code>lang</code></li>
    <li><code>publisher</code></li>
  </ul>
</p>

In [ ]:
# To-Do

<h2 style="text-align: left; line-height: 200%; font-family: Arial, sans-serif; color: #0099cc;">
  Part Three
</h2>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  Now, calculate the average rating of books for each publisher and store the result in the variable <code>publisher_rating</code>.
</p>

<h4 style="font-family: Arial, sans-serif;">
  <span style="color: green;">Hint</span>: What should the output of the average book ratings per publisher look like?
</h4>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  The output of this part will be a pandas Series as shown below:
  <pre>
publisher
18-Oct                           3.650000
1st Book Library                 3.580000
1st World Library                4.180000
A & C Black (Childrens books)    4.400000
A Harvest Book/Harcourt  Inc.    4.070000
                                   ...
聯經出版事業股份有限公司                     4.400000
英文漢聲出版股份有限公司                     4.220000
角川書店 (Kadokawa Shoten)           3.815000
講談社                              4.283333
集英社                              4.237500
Name: average_rating, Length: 2290, dtype: float64
  </pre>
</p>

In [ ]:
publisher_rating = None # To-Do
publisher_rating

<h2 style="text-align: left; line-height: 200%; font-family: Arial, sans-serif; color: #0099cc;">
  Part Four
</h2>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  In this part, first add a column named <code>num_pages_grp</code> to the dataframe that indicates the number of book pages in the following ranges:
</p>

<div style="text-align: center; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  <table style="margin: auto; border-collapse: collapse;">
    <tr>
      <th style="border: 1px solid #ddd; padding: 8px;"><b>Value</b></th>
      <th style="border: 1px solid #ddd; padding: 8px;"><b>Description</b></th>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px;"><code>&lt;250</code></td>
      <td style="border: 1px solid #ddd; padding: 8px;">Less than 250 pages</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px;"><code>250-499</code></td>
      <td style="border: 1px solid #ddd; padding: 8px;">250 to 499 pages</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px;"><code>500-749</code></td>
      <td style="border: 1px solid #ddd; padding: 8px;">500 to 749 pages</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px;"><code>750-999</code></td>
      <td style="border: 1px solid #ddd; padding: 8px;">750 to 999 pages</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px;"><code>&gt;=1000</code></td>
      <td style="border: 1px solid #ddd; padding: 8px;">1000 pages or more</td>
    </tr>
  </table>
</div>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  <span style="color: green;"><b>Hint:</b></span> For this task, you can use the <code>np.select</code> function.
</p>

<h4 style="font-family: Arial, sans-serif;">
  <span style="color: green;">Hint</span>: I'm having trouble using np.select
</h4>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  Suppose we have the following dataframe:
</p>

<pre style="font-family: monospace; background-color: #e8ecef; padding: 12px; border: 2px solid #ced4da; color: #212529;">
  Set Type  color
0   Z    A  green
1   Z    B  green
2   X    B    red
3   Y    C    red
</pre>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  Now, we want to modify the <code>color</code> column based on certain conditions:
  <ul>
    <li>If <code>(df['Set'] == 'Z') & (df['Type'] == 'A')</code>, then set it to yellow.</li>
    <li>Otherwise, if <code>(df['Set'] == 'Z') & (df['Type'] == 'B')</code>, then set it to blue.</li>
    <li>Otherwise, if <code>(df['Type'] == 'B')</code>, then set it to purple.</li>
    <li>If none of the above conditions are met, set it to black.</li>
  </ul>
</p>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  We can achieve this using <code>np.select</code>. We pass our conditions to the <code>conditions</code> argument and the corresponding results to the <code>choices</code> argument, as follows:
</p>

<pre style="font-family: monospace; background-color: #e8ecef; padding: 12px; border: 2px solid #ced4da; color: #212529;">
df = pd.DataFrame({'Type': list('ABBC'), 'Set': list('ZZXY')})
conditions = [ ((df['Set'] == 'Z') & (df['Type'] == 'A')), ((df['Set'] == 'Z') & (df['Type'] == 'B')), (df['Type'] == 'B')]
choices = ['yellow', 'blue', 'purple']
df['color'] = np.select(conditions, choices, default='black')
print(df)
</pre>

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  The output will be as follows:
</p>

<pre style="font-family: monospace; background-color: #e8ecef; padding: 12px; border: 2px solid #ced4da; color: #212529;">
  Set Type   color
0   Z    A  yellow
1   Z    B    blue
2   X    B  purple
3   Y    C   black
</pre>

In [ ]:
df['num_pages_grp'] = None # To-Do

<p style="text-align: justify; line-height: 200%; font-family: Arial, sans-serif; font-size: medium;">
  Now, we want to know how many books each author has written in each of these ranges. The result should look something like the table below:
</p>

<pre>
A.B. Yehoshua          250-499          1
                       500-749          1
A.D.P. Briggs          250-499          1
A.E. Cunningham        <250             1
A.J. Jacobs            250-499          1
</pre>


<br />
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size
        سلاموری ارسال کنید.
  </p>
</div>