In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NA

df = pd.read_csv('bikes_borrowed.csv')
df.head()

   cnt   t1   t2  humidity  wind_speed  is_weekend  season
0  182  3.0  2.0      93.0         6.0         1.0     3.0
1  138  3.0  2.5      93.0         5.0         1.0     3.0
2  134  2.5  2.5      96.5         0.0         1.0     3.0
3   72  2.0  2.0     100.0         0.0         1.0     3.0
4   47  2.0  0.0      93.0         6.5         1.0     3.0

In [2]:
df.rename(columns={"t1": "t_real", "t2": "t_feels_like"}, inplace = True)

df.head()

   cnt  t_real  t_feels_like  humidity  wind_speed  is_weekend  season
0  182     3.0           2.0      93.0         6.0         1.0     3.0
1  138     3.0           2.5      93.0         5.0         1.0     3.0
2  134     2.5           2.5      96.5         0.0         1.0     3.0
3   72     2.0           2.0     100.0         0.0         1.0     3.0
4   47     2.0           0.0      93.0         6.5         1.0     3.0

In [3]:
windy_days_df = df[df.wind_speed > 10]

windy_days_df.head()

    cnt  t_real  t_feels_like  humidity  wind_speed  is_weekend  season
10  528     3.0          -0.5      93.0        12.0         1.0     3.0
11  727     2.0          -1.5     100.0        12.0         1.0     3.0
12  862     2.0          -1.5      96.5        13.0         1.0     3.0
13  916     3.0          -0.5      87.0        15.0         1.0     3.0
15  869     2.0          -1.5      93.0        11.0         1.0     3.0

In [4]:
windy_days_df = windy_days_df[['t_real', 't_feels_like', 'humidity', 'wind_speed']]

windy_days_df.head()

    t_real  t_feels_like  humidity  wind_speed
10     3.0          -0.5      93.0        12.0
11     2.0          -1.5     100.0        12.0
12     2.0          -1.5      96.5        13.0
13     3.0          -0.5      87.0        15.0
15     2.0          -1.5      93.0        11.0

In [5]:
temperature_df = windy_days_df.copy()

In [6]:
t_max = np.max(temperature_df['t_real'])
t_min = np.min(temperature_df['t_real'])
temperature_df['t_percent'] =  ((temperature_df['t_real'] - t_min) / (t_max-t_min)) * 100

temperature_df.head()

    t_real  t_feels_like  humidity  wind_speed  t_percent
10     3.0          -0.5      93.0        12.0  11.428571
11     2.0          -1.5     100.0        12.0   8.571429
12     2.0          -1.5      96.5        13.0   8.571429
13     3.0          -0.5      87.0        15.0  11.428571
15     2.0          -1.5      93.0        11.0   8.571429

In [7]:
temperature_df['t_feels_like'] = temperature_df['t_real'] + (temperature_df['humidity'] * temperature_df['t_real'])/1000 - (temperature_df['wind_speed'])/10 -2

temperature_df.head()

    t_real  t_feels_like  humidity  wind_speed  t_percent
10     3.0         0.079      93.0        12.0  11.428571
11     2.0        -1.000     100.0        12.0   8.571429
12     2.0        -1.107      96.5        13.0   8.571429
13     3.0        -0.239      87.0        15.0  11.428571
15     2.0        -0.914      93.0        11.0   8.571429

In [8]:
windy_days_df.head()

    t_real  t_feels_like  humidity  wind_speed
10     3.0          -0.5      93.0        12.0
11     2.0          -1.5     100.0        12.0
12     2.0          -1.5      96.5        13.0
13     3.0          -0.5      87.0        15.0
15     2.0          -1.5      93.0        11.0

In [9]:
diffrence = np.mean(np.abs(temperature_df['t_feels_like'] - windy_days_df['t_feels_like']))
print(diffrence)

2.028340505491597

In [10]:
final_df = temperature_df.head(100)